<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href='/static/imagens/favicon.png'>
        <link rel="stylesheet" href="/static/style.css">
        <title>Cursinho web</title>
    </head>
    <body>
        <header>
                <!--<img src="online.png" alt="logo do curso" width="50" height="50">-->
                <img src="/static/imagens/logo.png" alt="logo do curso" id="img-logo">
                <nav>
                    <div id="navegacao">
                        <a href="index.html" class="link">Página Inicial</a>
                        <a href="disciplinas.html" class="link"> Disciplinas Oferecidas</a>
                        <a href="contato.html" class="link"> Entre em Contato</a>
                    </div>
                </nav>
        </header>
        
        <main>
            <h1>Bem-Vindo ao Cursinho Web</h1>
            <p>Nossa empresa oferece cursos de aprofundamento em Programação.</p>
            <img src="/static/imagens/banner.png" alt="logo central" width="900" class="banner">
        </main>
        <hr>
        <footer>
            <div>
                <p>Cursinho Web - &copy; Todos os Direitos Reservados</p>
                <p>Contato: <a href="#" id="link-email">e-mail@provedor.com</a></p>
            </div>
        </footer>
        
    </body>
</html>