<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/saudacao.css">
    <title>Bem vindo</title>
</head>
<body>
   <header>
       <h1>Bem vindo a página Saudação!</h1>
   </header>
   <main>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat esse assumenda velit modi nulla odit impedit dolor consectetur commodi ut. Magnam eaque debitis non itaque, tenetur error ea eligendi culpa.</p>
   </main>
   <hr>
   <footer>Copy &copy; Débora 2023</footer>
</body>
</html>